<h1>Welcome to Spotify</h1>

<form action="/artist-search" method="GET">
  <label for="search">Search:</label>
  <input type="search" name="artist" placeholders="Search by artist" id="'search" />
  <button>Search</button>
</form>